<IfModule mod_headers.c>
    SetEnvIfNoCase Origin "https?://(www\.)?(timetitle\.cranpun-tool\.ml|optimistic-noether-509f65\.netlify\.app/|localhost)(:\d+)?$" AccessControlAllowOrigin=$0
    Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
</IfModule>
